<div id="footer">
  <div class="container">
    <div class="row">
      <!-- start: About -->
      <div class="span3">
        <h3>BoxTub</h3>
        <p>
          <i class="fa-icon-map-marker"></i> Chillán, Chile
        </p>
        <p>
          <i class="fa-icon-envelope"></i> Email: contact@boxtub.com
        </p>
        <p>
          <i class="fa-icon-globe"></i> Web: boxtub.com
        </p>
      </div>
       <!-- end: About -->
    </div>
    <!-- end: Row -->
  </div>
  <!-- end: Container  -->
</div>
<!-- end: Footer -->

<!-- start: Footer Menu -->
<div id="under-footer" class="hidden-tablet hidden-phone">
  <!-- start: Container -->
  <div class="container">
    <!-- start: Row -->
    <div class="row">
      <!-- start: Footer Menu Logo -->
      <div class="span2">
        <div id="under-footer-logo">
          <a class="brand" href="#">Box<span>Tub</span>.</a>
        </div>
      </div>
      <!-- end: Footer Menu Logo -->
      <!-- start: Footer Menu Links-->
      <div class="span9">
        <div id="under-footer-copyright">
          &copy; 2014, <a href="http://boxtub.com">boxtub.com</a>.
        </div>
      </div>
      <!-- end: Footer Menu Links-->
      <!-- start: Footer Menu Back To Top -->
      <div class="span1">
        <div id="under-footer-back-to-top">
        <a href="#"></a>
      </div>
    </div>
    <!-- end: Footer Menu Back To Top -->
  </div>
  <!-- end: Row -->
</div>
<!-- end: Container  -->

  </div>


